*{
    margin: 0;
    padding: 0;
}
html {
    overflow: hidden;
    background-image: url("wallpaper.png");
    background-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
body {
    display: grid;
    width: 100%;
    overflow: hidden;
}
.shelf-icon {
    width: 35px;
    height: 35px;
    background: transparent;
    display: inline-block;
}
#desktop {
    padding: 10px;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    max-height: 93vh;
}
#pageFrame {
    width: 99vw;
    height: 89vh;
    border: none;
    outline: none;
}
.window {
    display: grid;
    z-index: 10;
    border-radius: 10px;
    background-color: #464646ad;
    width: 100%;
    height: 95vh;
    position: absolute;
    overflow: hidden;
    place-content: bottom;
    padding: 2px;
}
#page {
    overflow-y: auto;
    overflow-x: hidden;
    width: 99.5vw;
    height: 90vh;
    background: #FFF;
    border-radius: 10px;
    padding: 5px;
}
#windowTitle {
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    left: 5px;
    top: 5px;
}
#closeWindow {
    width: 50px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 2px;
    z-index: 11;
    background-color: white;
}
.hidden {
    display: none;
}
.desktopIconContainer {
    width: 75px;
    height: 100px;
    display: grid;
    place-items: center;
    max-width: 75px;
    border-radius: 10px;
}
.desktopIconContainer:hover {
    background-color: #46464677;
}
.desktopIcon {
    max-width: 70px;
    max-height: 70px;
    size: 70px;
}
.desktopIconTitle {
    padding: 2px;
    border-radius: 5px;
    max-width: 75px;
    background-color: #464646c4;
    font: arial;
    color: white;
    font-size: 11px;
    overflow: hidden;
    text-align: center;
}
#startButton {
    background-image: url("startP.png");
    background-size: 35px;
    outline: none;
    border: none;
}
#startButtonSec {
    display: grid;
    height: 45px;
    place-items: center;
    position: absolute;
    left: 4px;
}
#startMenu {
    position: absolute;
    left: 4px;
    bottom: 49px;
    border-radius: 10px;
    width: 300px;
    min-height: 150px;
    background-color: #464646c4;
    z-index: 9999;
}
#shelf {
    width: 100%;
    height: 45px;
    background: #464646;
    position: absolute;
    bottom: 0px;
    place-items: center;
    z-index: 9999;
}
.shelfIcon {
    height: 35px;
    outline: none;
    border: none;
}
.shelfIconContainer {
    display: grid;
    height: 45px;
    width: 45px;
    place-items: center;
}